.themed-grid-col {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color:#f8f9fa;
  border: 1px solid #f8f9fa;
}

.themed-container {
  padding: 15px;
  margin-bottom: 30px;
  background-color: rgba(0, 123, 255, .15);
  border: 1px solid rgba(0, 123, 255, .2);
}
